# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [34]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [ ]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [32]:
token = 'pk_9ab86a2edfa54f4ea30aec99e51c3604'

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [37]:
symbol = 'AAPL'
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={token}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 76363649,
 'calculationPrice': 'close',
 'change': -1.99,
 'changePercent': -0.01458,
 'close': 134.51,
 'closeSource': 'official',
 'closeTime': 1671224400299,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': 134.5,
 'delayedPriceTime': 1671224395067,
 'extendedChange': -0.07,
 'extendedChangePercent': -0.00052,
 'extendedPrice': 134.44,
 'extendedPriceTime': 1671238799136,
 'high': 137.65,
 'highSource': '15 minute delayed price',
 'highTime': 1671224399909,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexClose': 134.53,
 'iexCloseTime': 1671224396770,
 'iexLastUpdated': None,
 'iexMarketPercent': None,
 'iexOpen': 136.53,
 'iexOpenTime': 1671201000431,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexVolume': None,
 'lastTradeTime': 1671224399904,
 'latestPrice': 134.51,
 'latestSource': 'Close',
 'latestTime': 'December 16, 2022',
 'latestUpdate': 1671224400299,
 'latestVolume': 160156900,
 'low': 133.73,
 'lowSource': '15 minute delayed price',
 'lowTime': 1671219276396,
 'marketCap': 2139800952180,
 'oddLotDelayedPrice': 134.54,
 'oddLotDelayedPriceTime': 1671224395054,
 'open': 136.79,
 'openTime': 1671201000500,
 'openSource': 'official',
 'peRatio': 22.01,
 'previousClose': 136.5,
 'previousVolume': 98931907,
 'primaryExchange': 'NASDAQ',
 'symbol': 'AAPL',
 'volume': 160156900,
 'week52High': 181.88,
 'week52Low': 128.65,
 'ytdChange': -0.2526796616167853,
 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [44]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [48]:
my_columns = ['Ticker' ,'Stock Price' , 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [51]:
final_dataframe.append(
    
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A'
        ],
        index = my_columns
    ),
    ignore_index=True

)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       134.51         2139800952180                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [61]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker'][:5]:
  api_url = f'https://cloud.iexapis.com/stable/stock/{stock}/quote?token={token}'
  data = requests.get(api_url).json()
  final_dataframe = final_dataframe.append(
      pd.Series(
          [
              stock,
              data['latestPrice'],
              data['marketCap'],
              'N/A'
          ],
          index=my_columns
      ),
      ignore_index=True
  )

In [62]:
  final_dataframe

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      A       149.30           44198857101                     N/A
1    AAL        12.81            8325230362                     N/A
2    AAP       140.16            8426172378                     N/A
3   AAPL       134.51         2139800952180                     N/A
4   ABBV       160.48          283805751924                     N/A

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [63]:
def chunks(lst, n):
  """Yield successive n-sized chucks from list."""
  for i in range(0,len(lst), n):
    yield lst[i:i + n]

In [88]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
  symbol_strings.append(','.join(symbol_groups[i]))
#  print(symbol_strings[i])
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
  batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={token}'
  data = requests.get(batch_api_call_url).json()
  for symbol in symbol_string.split(','):
    if symbol == 'HFC' or symbol == 'VIAC' or symbol == 'WLTW' or symbol == 'DISCA':
       continue
    else:
        final_dataframe=final_dataframe.append(
            pd.Series([
                symbol,
                data[symbol]["quote"]["latestPrice"],
                data[symbol]["quote"]["marketCap"],
                'N/A'
            ],
            index = my_columns),
            ignore_index=True
          )
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       149.30           44198857101                     N/A
1      AAL        12.81            8325230362                     N/A
2      AAP       140.16            8426172378                     N/A
3     AAPL       134.51         2139800952180                     N/A
4     ABBV       160.48          283805751924                     N/A
..     ...          ...                   ...                     ...
496    YUM       129.37           36441959224                     N/A
497    ZBH       125.58           26353263387                     N/A
498   ZBRA       248.92           12851689318                     N/A
499   ZION        46.07            6892889927                     N/A
500    ZTS       144.46           67328760398                     N/A

[501 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [94]:
portfolio_size = input('Enter the value of your portfolio:')

try:
  val = float(portfolio_size)

except ValueError:
  print("That's not a number! \nPlease try again:")
  portfolio_size = input('Enter the value of your portfolio:')
  val = float(portfolio_size)

Enter the value of your portfolio:1000000

In [102]:
position_size = val/len(final_dataframe.index)
for i in range(0, len(final_dataframe.index)):
  final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])

final_dataframe
# number_of_apple_shares = position_size/140
# print(math.floor(number_of_apple_shares))

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       149.30           44198857101                      13
1      AAL        12.81            8325230362                     155
2      AAP       140.16            8426172378                      14
3     AAPL       134.51         2139800952180                      14
4     ABBV       160.48          283805751924                      12
..     ...          ...                   ...                     ...
496    YUM       129.37           36441959224                      15
497    ZBH       125.58           26353263387                      15
498   ZBRA       248.92           12851689318                       8
499   ZION        46.07            6892889927                      43
500    ZTS       144.46           67328760398                      13

[501 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [149]:
writer = pd.ExcelWriter('recommended trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [150]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1  
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1  
    }
)

integer_format = writer.book.add_format(
    {
        'num_format':'0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1  
    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [147]:
#writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format)
#writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
#writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
#writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)
#writer.save()

writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Stock Price', dollar_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', dollar_format)
writer.sheets['Recommended Trades'].write('D1', 'Number of Shares to Buy', integer_format)

0

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [152]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
  writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
  writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output

Saving our Excel file is very easy:

In [ ]:
writer.save()